{% extends 'base.html' %}
{% block content %}
<style>
    .print-dict{
        margin : 5px;
        float: left;
        width: auto;
        height: auto;
        padding: 5px 10px;
        text-align: center;
        font-family: 'BBTreeGB';
        background-color: rgb(39, 97, 114);
        color: white;
        border-radius: 40px 80px / 80px 40px;
    }
</style>
<h1>D - AI Idea</h1>
<div align="center">
    {% if S_list %}
        {% if key_num == '1' %}
            <div>
                {% for S in S_list %}
                <span class="print-dict">{{S}}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% if key_num == '2' %}
            <div>
                {% for S_l in S_list %}
                    {% for S in S_l %}
                        <span class="print-dict">{{S}}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}